*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: justify;
}

body{
    width: 100vw;
    height: 100vh;
    background: url(../media/background.jpg) no-repeat;
    background-size: cover;
}
